###exercise:

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

###1.Loop through the items in the fruits list.

#### hint: looping

In [48]:
x = ['apple','banana','cherry']
 #write the statement
print(x)

['apple', 'banana', 'cherry']

###2.Print i as long as i is less than 6.

#### hint:looping

In [65]:

 #write the statement
for i in range(1,6):
  print(i)

1
2
3
4
5

### 3.Print "Hello World if a is greater than b.

####hint: conditional statements

In [82]:
a = 50
b = 10
if a>b:
#write the statement
  print("Hello World")

Hello World

###4.Take a variable x and print "Even" if the number(x) is divisible by 2, otherwise print "Odd".

In [88]:
x=2
if x%2==0:
  print('even')
if x%2!=0:
  print('odd')

even

###5.Take a variable y and print "Grade A" if y is greater than 90, "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" Otherwise.

In [70]:
y=30
if y>90:
  print('grade A')
if y>60 and y<=90:
  print('grade B')
if y<60:
  print('grade F')

grade F

###6. Write a for loop to print all the numbers between 10 and 50.

In [73]:
for i in range(10,50):
 print(i)
 i+=1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

###7.Write a for loop to print all the 0dd numbers between 50 and 100.

#### hint: use range with step.

In [79]:
start,end=50,100
for n in range(start,end +1):
  if n%2!=0:
    print(n,end=" ")

51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99